.footer {
    position: relative;
    top: 60px; 
    background-color: #131313;    
    display: flex;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 0 1px 3px -2px black;
}

.foot-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color:  #F9ED32;
     font-size: 20px;
     font-weight: 500;
}

.foot-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.f-socials {
    display: flex;
    align-items: center;
    gap: 45px;
    /* margin-left: 450px;
    margin-right: 10px; */
}